@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.blobBox {
  width: 80%;
}

.blobImg {
  width: 170px;
}

.skill_logo {
  box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.1);
}

.skill_text {
  box-shadow: inset 2px -2px 2px 0px rgba(0, 0, 0, 0.1);
  transition: ease-in 0.2s;
}
.skillBox:hover {
  cursor: pointer;
}

.skillBox:hover .skill_text {
  color: black;
  box-shadow: inset -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 999px;
  margin: 10px 0px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 999px;
}

body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
